@model IEnumerable<ViewsComponent.Models.TodoItem>

<h2>Priority Component View - PVC</h2>
<h4>@ViewBag.PriorityMessage</h4>
<ul>
    @foreach (var todo in Model)
    {
        <li>@todo.Name</li>
    }
</ul>