@inherits LayoutComponentBase

<div id="app">

  <Topbar></Topbar>

  <div class="content">
    @Body
  </div>

  <footer>
    &copy; Blazing Pizza by Huy Ta - @DateTime.UtcNow.Year
  </footer>

</div>

