@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Body"]</h1>
    <h1 class="display-4">@ViewData["Hello"]</h1>
    <h2 class="display-4">Welcome @ViewBag.Message</h2>
    

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
