@page "/checkout"
@using BlazingPizza.Services
@inject OrderState PizzaOrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review order</h4>
            <OrderReview Order="PizzaOrder" />
        </div>

        <div class="checkout-delivery-address">
            <h4>Deliver to...</h4>
            <AddressEditor Address="PizzaOrder.DeliveryAddress" />
        </div>
    </div>

    <button class="checkout-button btn btn-warning" @onclick="PlaceOrder" disabled="@_isSubmitting">
        Place order
    </button>
</div>

@code {
    Order PizzaOrder => PizzaOrderState.PizzaOrder;
    private bool _isSubmitting;
    async Task PlaceOrder()
    {
        _isSubmitting = true;

        var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "api/order", PizzaOrderState.PizzaOrder);
        var newOrderId= await response.Content.ReadFromJsonAsync<int>();

        PizzaOrderState.ResetOrder();

        NavigationManager.NavigateTo($"/orderdetail/{newOrderId}");
    }
}